@model DinoMVC.Models.Dino

<br/>
<h2 class="text-info">@(Model.Id !=0 ? "Edit":"Create") Dino</h2>
<br/>

<div class="border container" style="padding:40px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Name"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.Name" class="form-control" />
            </div>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Period"></label>
            </div>
            <div class="col-8 row">
                <div class="col-4">
                    <input asp-for="@Model.Period" type="radio" name="period" value="Cretaceous">
                    <label>Cretaceous</label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Period" type="radio" name="period" value="Jurassic">
                    <label>Jurassic</label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Period" type="radio" name="period" value="Triassic" checked="checked">
                    <label>Triassic</label><br>
                </div>
            </div>
            <span asp-validation-for="@Model.Period" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.Diet"></label>
            </div>
            <div class="col-8 row">
                <div class="col-4">
                    <input asp-for="@Model.Diet" type="radio" name="diet" value="Herbivore">
                    <label>Herbivore</label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Diet" type="radio" name="diet" value="Omnivore">
                    <label>Omnivore</label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Diet" type="radio" name="diet" value="Carnivore" checked="checked">
                    <label>Carnivore</label><br>
                </div>
            </div>
            <span asp-validation-for="@Model.Diet" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id !=0 ? "Update":"Create")
                </button>
            </div>
            <div class="col-5">
                <a asp-action="Index" class="btn btn-success form-control"> Back to List </a>
            </div>
        </div>
    </form>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial"/>
}